* { margin: 0 auto; padding: 0;box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color:hsl(220, 15%, 55%);}
body {max-width:1440px}
.contenedor{
    height: 720px;
    max-width: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center; 
    align-items: center;
}
.padre{
    position:relative;
    display: inline-block;
    justify-content: center;
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
    overflow: hidden;
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}
.parrafo1{
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top:27px;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
}
.parrafo2{
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    font-size:15px ;
    padding:19px;
    color: hsl(220, 15%, 55%);
}
